<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="board" class="board">
        <!-- White pieces -->
        <div class="piece" draggable="true" id="w-rook-1" style="left: 0; top: 0;">♖</div>
        <div class="piece" draggable="true" id="w-knight-1" style="left: 1; top: 0;">♘</div>
        <div class="piece" draggable="true" id="w-bishop-1" style="left: 2; top: 0;">♗</div>
        <div class="piece" draggable="true" id="w-queen" style="left: 3; top: 0;">♕</div>
        <div class="piece" draggable="true" id="w-king" style="left: 4; top: 0;">♔</div>
        <div class="piece" draggable="true" id="w-bishop-2" style="left: 5; top: 0;">♗</div>
        <div class="piece" draggable="true" id="w-knight-2" style="left: 6; top: 0;">♘</div>
        <div class="piece" draggable="true" id="w-rook-2" style="left: 7; top: 0;">♖</div>
        <div class="piece" draggable="true" id="w-pawn-1" style="left: 0; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-2" style="left: 1; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-3" style="left: 2; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-4" style="left: 3; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-5" style="left: 4; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-6" style="left: 5; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-7" style="left: 6; top: 1;">♙</div>
        <div class="piece" draggable="true" id="w-pawn-8" style="left: 7; top: 1;">♙</div>

        <!-- Black pieces -->
        <div class="piece" draggable="true" id="b-rook-1" style="left: 0; top: 7;">♜</div>
        <div class="piece" draggable="true" id="b-knight-1" style="left: 1; top: 7;">♞</div>
        <div class="piece" draggable="true" id="b-bishop-1" style="left: 2; top: 7;">♝</div>
        <div class="piece" draggable="true" id="b-queen" style="left: 3; top: 7;">♛</div>
        <div class="piece" draggable="true" id="b-king" style="left: 4; top: 7;">♚</div>
        <div class="piece" draggable="true" id="b-bishop-2" style="left: 5; top: 7;">♝</div>
        <div class="piece" draggable="true" id="b-knight-2" style="left: 6; top: 7;">♞</div>
        <div class="piece" draggable="true" id="b-rook-2" style="left: 7; top: 7;">♜</div>
        <div class="piece" draggable="true" id="b-pawn-1" style="left: 0; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-2" style="left: 1; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-3" style="left: 2; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-4" style="left: 3; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-5" style="left: 4; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-6" style="left: 5; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-7" style="left: 6; top: 6;">♟</div>
        <div class="piece" draggable="true" id="b-pawn-8" style="left: 7; top: 6;">♟</div>
    </div>
    <script src="script.js"></script>
</body>
</html>
